<% layout('layouts/boilerplate')%>
    <h1>Add post</h1>
    <div class="row">
        <form action="/addpost" method="post">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Add your post here !" id="posttext" name="posttext"
                    style="height: 100px"></textarea>
                <label for="floatingTextarea2">Comments</label>
            </div>

            <button class="btn btn-primary">Add</button>
        </form>
    </div>