<% layout('layouts/boilerplate')%>
    <h1 class="text-center">Welcome To Our Website</h1>
    <br>
    <h2 class="text-center mb-3">Customers</h2>
    <button class="btn">
        <a href="/addpost">Add Post</a>
    </button>