<% layout('layouts/boilerplate')%>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="username">Enter Username</label>
        <input type="text" name="username" id="username" placeholder="username">
        <label for="password">Enter Password</label>
        <input type="password" name="password" id="password" placeholder="password">
        <button class="btn btn-success">Submit</button>
    </form>